<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body class="checklist">

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Copy Courses</h2>

		<hr>

		<h3>Current Year: <%= session.current_term.split('.')[0] %></h3>
		<h3>Current Term: <%= session.current_term.split('.')[1] %></h3>

		<hr>

		<h3>Select A Previous Term:</h3>

		<form action="/courses" method="get">
			<select id="course-select" name="term">
				<% terms.forEach(function(term) { %>
					<% if (term.toString() != session.current_term.toString()) { %>
						<option value="<%= term %>"/><%= term.split('.')[0] %> Term <%= term.split('.')[1] %></option>
					<% }; %>
				<% }); %>
			</select>
		</form>

		<br>

		<div class="hidden" id="courses-list">

			<hr>

			<h3>Courses</h3>

			<p>Select the course(s) you want to copy to the current term.</p>

			<div class="checkbox-list" id="courses-checklist"></div>

			<label><input type="checkbox" id="copy-students" value="true" checked/>Copy Students</label><br>

			<form action="/dashboard">
				<input type="submit" class="checklist-submit" id="courses-copy" value="Copy Courses"/>
			</form>

		</div>

	</div>

</body>
</html>