<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body id="checklist">

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Copy Courses</h2>

		<h5>Select course(s) you want to copy to the current term.</h5>

		<hr>

		<h3>Current Year: <%= session.current_year %></h3>
		<h3>Current Term: <%= session.current_term %></h3>

		<hr>

		<h3>Previous Term:</h3>

		<form action="/year" method="post">
			<label for="current-year">Year</label><br>
			<input id="current-year" type="number" name="year" min="2015" value="<%= session.current_year %>"/>
			<input type="hidden" name="_method" value="patch"/>
			<input class="hidden" id="year-submit" type="submit"/>
		</form>

		<h3>Courses</h3>

		<div class="checkbox-list" id="courses-checklist">
			<% courses.forEach(function(course) { %>
				<label><input type="checkbox" class="copy-course" id="<%= course._id %>" value="copy"/><%= course.title %> (<%= course.year %> Term: <%= course.term %>)<label><br>
			<% }); %>
			<br><br>
		</div>

		<form action="/dashboard">
			<input type="submit" id="courses-copy" value="Copy Courses"/>
		</form>

	</div>

</body>
</html>