<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body>

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Student Enrollment<h2>

		<% course.title = course.title.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
		<h5>Course Title: <%= course.title %></h5>
		<h5>Section: <%= course.section %></h5>

		<form action="" method="post">
			<% students.forEach(function(student) { %>
				<input type="checkbox" id="<%= student._id %>" value="<%= student._id %>"	
				<% var enrolled = false %>
				<% if (student.course_ids) {
						student.course_ids.forEach(function(course) {
							if (course.id === course._id) {
								enrolled = true;
							};
						});
					};
				%>
				<% if (enrolled === true) { %>
				 	checked
				<% }; %>
				/> <%= student.last_name %>, <%= student.first_name %>
				<%= student.grad_year %><br>
			<% }); %>
			<br><br>
			<input type="submit" value="Enroll"/>
		</form>

	</div>

</body>
</html>