<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body class="courses">

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Enrollment</h2>

		<h5>Check to enroll, uncheck to unenroll.</h5>
		<h5>Unenrolling a student will NOT destroy the student's scores for that course.</h5>

		<hr>

		<% course.title = course.title.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
		<h3>Course Title: <%= course.title %></h3>
		<h3>Section: <%= course.section %></h3>

		<hr>

		<h3>Students</h3>

		<div class="checkbox-list" id="students-checklist">
			<% students.forEach(function(student) { %>
				<label><input type="checkbox" class="student-enroll" id="<%= student._id %>" value="enrolled"	
				<% var enrolled = false %>
				<% if ((student.course_ids) && (student.course_ids.length > 0)) {
						student.course_ids.forEach(function(course_id) {
							if (course_id.id.toString() == course._id.toString()) {
								enrolled = true;
							};
						});
					};
				%>
				<% if (enrolled === true) { %>
				 	checked
				<% }; %>
				/> <%= student.last_name %>, <%= student.first_name %>
				(<%= student.grad_year %>)</label><br>
			<% }); %>
			<br><br>
		</div>

		<form action="/dashboard">
			<input type="submit" class="checklist-submit" id="enrollment-update" value="Back to Dashboard"/>
		</form>

	</div>

</body>
</html>