<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body id="enrollment">

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Student Enrollment<h2>

		<% course.title = course.title.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
		<h5>Course Title: <%= course.title %></h5>
		<h5>Section: <%= course.section %></h5>

		<div class="enrollment">
			<% students.forEach(function(student) { %>
				<input type="checkbox" class="student_enroll" id="<%= student._id %>" value="enrolled"	
				<% var enrolled = false %>
				<% if ((student.course_ids) && (student.course_ids.length > 0)) {
						student.course_ids.forEach(function(course_id) {
							console.log('the course id is '+course_id.id);
							console.log('the current course id is '+course._id);
							if (course_id.id == course._id) {
								enrolled = true;
								console.log('enrolled '+enrolled);
							};
						});
					};
				%>
				<% if (enrolled === true) { %>
				 	checked
				<% }; %>
				/> <%= student.last_name %>, <%= student.first_name %>
				(<%= student.grad_year %>)<br>
			<% }); %>
			<br><br>
		</div>

	</div>

</body>
</html>