<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body id="enrollment">

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Enrollment</h2>

		<h5>Check to enroll, uncheck to unenroll.</h5>

		<hr>

		<% course.title = course.title.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
		<h3>Course Title: <%= course.title %></h3>
		<h3>Section: <%= course.section %></h3>

		<hr>

		<h3>Students</h3>

		<div class="enrollment">
			<% students.forEach(function(student) { %>
				<label><input type="checkbox" class="student_enroll" id="<%= student._id %>" value="enrolled"	
				<% var enrolled = false %>
				<% if ((student.course_ids) && (student.course_ids.length > 0)) {
						student.course_ids.forEach(function(course_id) {
							if (course_id.id.toString() == course._id.toString()) {
								enrolled = true;
							};
						});
					};
				%>
				<% if (enrolled === true) { %>
				 	checked
				<% }; %>
				/> <%= student.last_name %>, <%= student.first_name %>
				(<%= student.grad_year %>)</label><br>
			<% }); %>
			<br><br>
		</div>

		<form action="/dashboard">
			<input type="submit" value="Update Enrollment"/>
		</form>

	</div>

</body>
</html>