<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body class="assessments">

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Edit Assessment</h2>

		<hr>

		<% course.title = course.title.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
		<h3>Course Title: <%= course.title %></h3>
		<h3>Section: <%= course.section %></h3>

		<hr>

		<form action="/assessments" method="post">
			<label for="name">Assessment Name</label><br>
			<input type="text" name="name" value="<%= assessment.name %>"/><br>
			<br>
			<label for="type">Type</label><br><br>
			<select name="type">
			  <option value="Test"
			  <% if (assessment.type === 'Test') { %>selected<% } %>
				>Test</option> 
			  <option value="Quiz"
			  <% if (assessment.type === 'Quiz') { %>selected<% } %>
			  >Quiz</option>
			  <option value="Homework"
			  <% if (assessment.type === 'Homework') { %>selected<% } %>
			  >Homework</option>
			  <option value="Project"
			  <% if (assessment.type === 'Project') { %>selected<% } %>
			  >Project</option>
			  <option value="Other"
			  <% if (assessment.type === 'Other') { %>selected<% } %>
			  >Other</option>
			</select>
			<br><br>
			<label for="points">Points</label><br>
			<input type="number" name="points" min="1" value="<%= assessment.points %>"/><br>
			<% if (course.auto === "false") { %>
				<label for="weight">Weight</label><br>
				<input type="number" name="weight" min="1" value="<%= assessment.weight %>"/><br>
			<% } else { %>
				<h4>Auto Weighting is ON for this course.</h4>
			<% } %>
			<br>
			<!-- position in the array to be used for updating mongodb -->
			<input type="hidden" name="position" value="<%= position %>"/>
			<div class="hidden message" id="message-assessment-patch"></div>
			<input type="hidden" name="_method" value="patch"/>
			<input type="submit" id="assessment-patch" value="Update Assessment"/>
		</form>

		<hr>

		<form action="/assessments" method="post">
			<div class="hidden message" id="message-assessment-delete"></div>
			<input type="hidden" name="_method" value="delete"/>
			<input type="submit" class="delete" id="assessment-delete" value="Delete Assessment"/>
		</form>

	</div>

</body>
</html>