<!DOCTYPE html>
<html>

<% include ./partials/head %>

<body class="dashboard courses">

	<div id="main-header">

		<div id="title">
			<h1>GradeBook</h1>
		</div>

		<form action="/term" method="post">
			<div class="top-selector" id="year-selector">
				<label for="current-year">Current Year</label><br>
				<input id="current-year" type="number" name="current_year" min="1" value="<%= session.current_term.split('.')[0] %>"/>
			</div>
			<div class="top-selector" id="year-selector">
				<label for="current-term">Current Term</label><br>
				<input id="current-term" type="number" name="current_term" min="1" max="9" value="<%= session.current_term.split('.')[1] %>"/>
			</div>
			<input type="hidden" name="_method" value="patch"/>
			<input class="hidden" id="term-submit" type="submit"/>
		</form>

		<div class="top-button-box">
		</div>

		<div class="top-button-box">
			<form action="/users/edit">
				<input type="submit" value="Edit My Profile"/>
			</form>
		</div>

		<div id="logged">
			<h3>You are logged in as: <%= session.username %></h3>
		</div>

		<div class="top-button-box">
			<form action="/logout">
				<input type="submit" value="Logout"/>
			</form>
		</div>

	</div>

	<div id="left-column">

		<div class="invisible warning" id="courses-warning"></div>

		<div class="box-header">
			<div class="caption-box">
				Courses
			</div>
			<div class="button-box">
				<form action="#newCourseModal">
					<input type="submit" class="courses-button" id="course-new" value="New"/>
				</form>
			</div>
			<div class="button-box">
				<form action="#copyCourseModal">
					<input type="submit" class="courses-button" id="course-copy" value="Copy"/>
				</form>
			</div>
			<div class="button-box">
				<form action="#editCourseModal">
					<input type="submit" class="courses-button" id="course-edit" value="Edit"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/enrollment">
					<input type="submit" class="courses-button" id="enroll" value="Enroll"/>
				</form>
			</div>
			<div class="button-box"></div>
		</div>

		<div class= "data-box" id="courses-box">
			<!-- controlled by React -->
		</div>

		<div class="invisible warning" id="assessments-warning"></div>

		<div class="box-header">
			<div class="caption-box">
				Assessments
			</div>
			<div class="button-box">
				<form action="/assessments/new">
					<input type="submit" class="assessments-button" id="assessment-new" value="New"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/assessments/edit">
					<input type="submit" class="assessments-button" id="assessment-edit" value="Edit"/>
				</form>
			</div>
			<div class="button-box"></div>
			<div class="button-box"></div>
			<div class="button-box"></div>
		</div>

		<div class="data-box" id="assessments-box">
			<!-- controlled by React -->
		</div>

	</div>

	<div id="right-column">

		<div class="invisible warning" id="students-warning"></div>

		<div class="box-header">
			<div class="caption-box">
				Students
			</div>
			<div class="button-box">
				<form action="/students/new">
					<input type="submit" class="students-button" id="student-new" value="New"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/students/edit">
					<input type="submit" class="students-button" id="student-edit" value="Edit"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/dashboard">
					<input type="submit" class="students-button" id="show-all-students" value="Show All"/>
				</form>
			</div>
			<div class="button-box"></div>
			<div class="button-box"></div>
		</div>

		<div class="data-box" id="students-box">
			<!-- controlled by React -->
		</div>

		<div id="update-box"> 
			<div class="update-label">
				<label>Course:</label>
			</div>
			<div class="update-field">
				<input class="current" id="current-course" type="text" value="" readonly/>
				<input type="hidden" id="current-course-id" type="text" value="<%= session.current_course_id %>"/>
			</div>
			<div class="update-label">
				<label>Assessment:</label>
			</div>
			<div class="update-field">
				<input class="current" id="current-assessment" type="text" value="" readonly/><br>
				<input type="hidden" id="current-assessment-id" type="text" value="<%= session.current_assessment_id %>"/>
			</div>
			<div class="update-label">
				<label>Student:</label>
			</div>
			<div class="update-field">
				<input class="current" id="current-student" type="text" value="" readonly/><br>
				<input type="hidden" id="current-student-id" type="text" value="<%= session.current_student_id %>"/>
			</div>
		</div>

		<div id="grade-box">
			<div class="grade-label">
				<label>Grade:</label>
			</div>
			<div class="grade-field">
				<input class="grade" id="score" type="text" value=""/>
			</div>
			<div class="grade-label">
				<label>Points:</label>
			</div>
			<div class="grade-field">
				<input class="grade" id="points" type="text" value="" readonly/>
			</div>
				<div class="grade-field">
				<input class="grade hidden" id="weight" type="text" value="" readonly/>
			</div>
		</div>
	</div>

<!-- MODAL WINDOWS -->

	<!-- COURSES -->

	<div id="newCourseModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>

			<h2>New Course</h2>
			<hr>
			<form action="/courses" method="post">
				<label for="title">Course Title</label><br>
				<input type="text" name="title" placeholder="Course Title"/>
				<br>
				<label for="section">Section</label><br>
				<input type="number" name="section" min="1" value="1"/>
				<br>
				<label for="year">Year</label><br>
				<input type="number" name="year" min="1" value="<%= session.current_term.split('.')[0] %>"/>
				<br>
				<label for="term">Term</label><br>
				<input type="number" name="term" min="1" value="<%= session.current_term.split('.')[1] %>"/>
				<br>
				<label for="auto">Auto Weighting On?</label><br>
				<br>
				<select class="narrow" name="auto">
				  <option value="true" selected>Yes</option> 
				  <option value="false">No</option>
				</select>
				<br><br><br>
				<div class="hidden message" id="message-course-post"></div>
				<input type="submit" id="course-post" value="Create Course"/>
			</form>

		</div>
	</div>

	<div id="editCourseModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>

			<h2>Edit Course</h2>
			<hr>
			<form action="/courses" method="post">
				<label for="title">Course Title</label><br>
				<input type="text" name="title" id="edit-course-title" value=""/>
				<br>
				<label for="section">Section</label><br>
				<input type="number" name="section" min="1" id="edit-course-section" value=""/>
				<br>
				<label for="year">Year</label><br>
				<input type="number" name="year" min="1" id="edit-course-year" value=""/><br>
				<label for="term">Term</label><br>
				<input type="number" name="term" min="1" id="edit-course-term" value=""/><br>
				<label for="auto">Auto Weighting On?</label><br>
				<br>
				<select class="narrow" id="edit-course-auto" name="auto">
					  <option value="true">Yes</option> 
					  <option value="false">No</option>
				</select>
				<br><br><br>
				<div class="hidden message" id="message-course-patch"></div>
				<input type="hidden" name="_method" value="patch"/>
				<input type="submit" id="course-patch" value="Update Course"/>
			</form>
		
			<hr>

			<form action="/courses" method="post">
				<div class="hidden message" id="message-course-delete"></div>
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="delete" id="course-delete" value="Delete Course"/>
			</form>

		</div>
	</div>

	<div id="copyCourseModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>

			<h2>Copy Courses</h2>
			<hr>
			<h3>Current Year: <%= session.current_term.split('.')[0] %></h3>
			<h3>Current Term: <%= session.current_term.split('.')[1] %></h3>
			<hr>
			<h3>Select A Previous Term:</h3>

			<form action="/courses" method="get">
				<select id="course-select" name="term">
<!-- 					make an ajax call to /courses/copy to obtain list of terms
					to be added as options here -->	
				</select>
			</form>

			<br>

			<div class="hidden" id="courses-list">

				<hr>

				<h3>Courses</h3>

				<p>Select the course(s) you want to copy to the current term.</p>

				<div class="checkbox-list" id="courses-checklist"></div>

				<label><input type="checkbox" id="copy-students" value="true" checked/>Copy Students</label><br>

				<form action="/dashboard">
					<input type="submit" class="checklist-submit" id="courses-copy" value="Copy Courses"/>
				</form>

			</div>
		</div>
	</div>

</body>

</html>