<!DOCTYPE html>
<html>

<% include ./partials/head %>

<body class="dashboard" id="dashboard">

	<div id="main-header">

		<div id="title">
			<h1>GradeBook</h1>
		</div>

		<div class="top-selector" id="year-selector">
			<form action="/year" method="post">
				<label for="current_year">Current Year</label><br>
				<input id="current_year" type="number" name="current_year" min="2015" value="<%= current_year %>"/>
				<input type="hidden" name="_method" value="patch"/>
				<input class="hidden" id="submit" type="submit"/>
			</form>
		</div>

		<div class="top-selector" id="term-selector">
			<form action="/term" method="post">
				<label for="current_term">Current Term</label><br>
				<input id="current_term" type="number" name="current_term" min="1" max="3" value="<%= current_term %>"/>
				<input type="hidden" name="_method" value="patch"/>
				<input class="hidden" id="submit" type="submit" />
			</form>
		</div>

		<div class="top-button-box">
		</div>

		<div class="top-button-box">
			<form action="/users/<%= sess.user_id %>/edit">
				<input type="submit" value="Edit User"/>
			</form>
		</div>

		<div id="logged">
			<h3>You are logged in as: <%= sess.username %></h3>
		</div>

		<div class="top-button-box">
			<form action="/logout">
				<input type="submit" value="Logout"/>
			</form>
		</div>

	</div>

	<div id="left-column">

		<div class="box-header">
			<div class="caption-box">
				Courses
			</div>
			<div class="button-box">
				<form action="/courses/new">
					<input type="submit" value="New"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/courses/:id/edit">
					<input type="submit" value="Edit"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/enrollment">
					<input id="enroll" type="submit" value="Enroll Students"/>
				</form>
			</div>
			<div class="button-box"></div>
			<div class="button-box"></div>
		</div>

		<div class= "data-box" id="courses-box"></div>

		<div class="box-header">
			<div class="caption-box">
				Assessments
			</div>
			<div class="button-box">
				<form action="/assessments/new">
					<input type="submit" value="New"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/assessments/:id/edit">
					<input type="submit" value="Edit"/>
				</form>
			</div>
			<div class="button-box"></div>
			<div class="button-box"></div>
			<div class="button-box"></div>
		</div>

		<div class="data-box" id="assessments-box"></div>

	</div>

	<div id="right-column">

		<div class="box-header">
			<div class="caption-box">
				Students
			</div>
			<div class="button-box">
				<form action="/students/new">
					<input type="submit" value="New"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/students/:id/edit">
					<input type="submit" value="Edit"/>
				</form>
			</div>
			<div class="button-box">
				<form action="/dashboard">
					<input id="show_all" type="submit" value="Show All"/>
				</form>
			</div>
			<div class="button-box">
				<!-- <form action="">
					<input type="submit" value="Enroll"/>
				</form> -->
			</div>
			<div class="button-box">
	<!-- 			<form action="">
					<input type="submit" value="UnEnroll"/>
				</form> -->
			</div>
		</div>

		<div class="data-box" id="students-box"></div>

		<div id="update-box">
			<div class="update-label">
				<label>Course:</label>
			</div>
			<div class="update-field">
				<input class="current" id="current-course" type="text" value="" readonly/>
				<input type="hidden" id="current-course-id" type="text" value="<%= current_course_id %>"/>
			</div>
			<div class="update-label">
				<label>Assessment:</label>
			</div>
			<div class="update-field">
				<input class="current" id="current-assessment" type="text" value="" readonly/><br>
				<input type="hidden" id="current-assessment-id" type="text" value=""/>
			</div>
			<div class="update-label">
				<label>Student:</label>
			</div>
			<div class="update-field">
				<input class="current" id="current-student" type="text" value="" readonly/><br>
				<input type="hidden" id="current-student-id" type="text" value=""/>
			</div>
		</div>

		<div id="grade-box">
			<div class="grade-label">
				<label>Grade:</label>
			</div>
			<div class="grade-field">
				<input class="grade" id="grade" type="text" value=""/>
			</div>
			<div class="grade-label">
				<label>Points:</label>
			</div>
			<div class="grade-field">
				<input class="grade" id="points" type="text" value="" readonly/>
			</div>
		</div>
	</div>

</body>

</html>